--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1+cu116

numpy
pandas
scikit-learn

matplotlib
mlflow
seaborn
tqdm
python-dotenv

ipykernel

# for development
flake8
pep8-naming
black
isort
